body {
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

/* <ul> */
.navbar-nav, .navbar-nav-right {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
}

.navbar-nav-left {
  display: flex;   
}

.navbar-nav-left li {
  padding: 1.2em;
  margin: auto 0.5em;
}

.navbar-nav-right li {
  padding: 1.2em;
  margin: auto 0.5em;
  white-space: nowrap;
}




/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button img { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
 
.section { 
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-color: #fff;
}

.page {
  height: 50vh; 
}

.hero-section {  
  height:65vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 40vw auto;
}

.hero-section .hero-section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; 
  color: var(--bg-accent);
  background-color: burlywood;
}

.hero-section .buttons { 
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.hero-section-1 button {
  position: relative; 
  display: block;
  margin: 30px auto;
  padding: 0; 
  overflow: hidden; 
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
  background-color: var(--bg);
  color: #ecf0f1; 
  transition: background-color .3s;
}

.hero-section-1 button:hover, button:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: var(--bg-accent);
  transition: all 0.5s;
}


.hero-section button span {
  display: block;
  padding: 12px 24px;
}

.hero-section button:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%; 
  display: block;
  width: 0;
  padding-top: 0; 
  border-radius: 100%; 
  
  background-color: rgba(236, 240, 241, .3); 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-section button:active:before { 
  width: 120%;
  padding-top: 120%; 
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.hero-section .hero-section-2 {  
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-size: cover;
}

.hero-section .hero-section-2 img {
  height: 100%;
  width: 100%;
}

.features-section {  
  margin: auto; 
  padding: 1em;  
  background-color: palegoldenrod
}

.features-section .section-row {
  width: 80vw;
  display: flex; 
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.features-section .feature-item {
  margin: 1.5em; 
}

.features-section .feature-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-section .feature-item .feature-icon {
  border: 1px solid red;
  margin: 1em;
}

.features-section .feature-item .feature-info {
  text-align: left;
}

.features-section .feature-item .feature-info .feature-title {
  color: var(--bg);
  font-weight: bolder;
}

.features-section .feature-item .feature-info .feature-desc {
  color: var(--bg-accent);
  font-style: italic;
}

.work-flow-section {
  margin: auto; 
  padding: 1em;  
  background-color: snow;  
}


.work-flow-section .steps {
  display: grid;
  margin: auto; 
  grid-template-columns: 1fr 1fr 1fr;
}

.work-flow-section .steps .icon {
  width: 12em;
  height: 12em;
  padding: 1em;
  margin: auto;
  border-radius: 50%;
  background-color: beige;
}

.work-flow-section .steps .icon img {
  height: 100%;
  width: 100%;
}

.work-flow-section .steps .title {
  padding: 1em;
  margin: 1em;
  color: var(--bg-accent);
  font-weight: bold;
  color: #242526;
  background-color: beige;
}


.footer {   
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: var(--bg);
  border-top: 1px solid #382f2f;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1.5rem;
  color: var(--bg-accent);
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  color: var(--bg-accent);
}

.nav__title {
  color: var(--bg-accent);
  font-weight: 700;
  font-size: 18px;
}

.footer address {
  font-style: normal;
  color: var(--bg-accent);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: var(--bg-accent);
  border-radius: 100px;
  color:var(--bg);
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition: all 1s;
}

.footer__btn:hover {
  background-color: #2f2f2f;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: var(--bg-accent);
  transition: all 1s;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: var(--bg-accent);
  transition: all 0.5s;
}

.nav__ul a:hover { 
  color: #ecf0f1;
  transition: all 0.5s;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: var(--bg-accent);
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: var(--bg-accent);
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}