
body {
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;;
  transition: all 0.5s;
}

a:hover{
  color: var(--bg-accent);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

/* React Tabs */

.react-tabs { 
  text-align: center; 
}

.react-tabs ul { 
  color: var(--text-color); 
  border: none;
}

.react-tabs ul li {
  height: 2em;
  margin: auto 2em;
  border: none; 
  color: var(--bg); 
  justify-content: center; 
}

.react-tabs__tab--selected {
  color: var(--bg-accent) !important;
  font-weight: 600;
  border-bottom: #466075 1px solid; 
}



/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

/* <ul> */
.navbar-nav, .navbar-nav-right {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
}

.navbar-nav-left {
  display: flex;   
}

.navbar-nav-left li {
  padding: 1.2em;
  margin: auto 0.5em;
}

.navbar-nav-right li {
  padding: 1.2em;
  margin: auto 0.5em;
  white-space: nowrap;
}




/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button img { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
 
.section { 
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-color: #fff;
}

.page {
  min-height: 80vh;  
}

.page .title {
  font-weight: 700;
  padding: 0.5em;
  color: var(--bg-accent);
}

.page .desc {
  padding: 0.5em;
  font-style: italic;
  color:var(--text-color);
}

.page.explore {
  padding: 2em;
  text-align: center;
}

.page.explore .more-section {
  display: block;
  justify-content: center;
}

.page.explore .more-section .more-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page.explore .more-section .more-row .content {
  width: 250px;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0 10px 30px 0 rgba(100, 103, 105, 0.1);
  cursor: pointer;
  transition: all 0.5s;
}

.page.explore .more-section .more-row .content:hover {
  box-shadow: 0 10px 30px 0 rgba(100, 103, 105, 0.2);
  transition: all 0.5s;
}

.page.explore .more-section .more-row img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hero-section {  
  height:65vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 40vw auto;
}

.hero-section .hero-section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; 
  color: var(--bg-accent);
  background-color: burlywood;
}

.hero-section .buttons { 
  width: 60%;
  display: flex;
  justify-content: space-between;
}

 button {
  position: relative; 
  display: block;
  margin: 30px auto;
  padding: 0; 
  overflow: hidden; 
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
  background-color: var(--bg);
  color: #ecf0f1; 
  transition: background-color .3s;
}

 button:hover, button:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: var(--bg-accent);
  transition: all 0.5s;
}


 button span {
  display: block;
  padding: 12px 24px;
}

 button:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%; 
  display: block;
  width: 0;
  padding-top: 0; 
  border-radius: 100%; 
  
  background-color: rgba(236, 240, 241, .3); 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

 button:active:before { 
  width: 120%;
  padding-top: 120%; 
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.hero-section .hero-section-2 {  
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-size: cover;
}

.hero-section .hero-section-2 img {
  height: 100%;
  width: 100%;
}

.features-section {  
  margin: auto; 
  padding: 1em;  
  background-color: palegoldenrod
}

.features-section .section-row {
  width: 80vw;
  display: flex; 
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.features-section .feature-item {
  margin: 1.5em; 
}

.features-section .feature-item {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
}

.features-section .feature-item .feature-icon { 
  width: 5em;
  height: 5em; 
}

.features-section .feature-item .feature-icon img {
  width: 100%;
  height: 100%;
}

.features-section .feature-item .feature-info {
  text-align: left;
}

.features-section .feature-item .feature-info .feature-title {
  color: var(--bg);
  font-weight: bolder;
}

.features-section .feature-item .feature-info .feature-desc {
  color: var(--bg-accent);
  line-height: 1.5em;
  font-style: italic;
}

.work-flow-section {
  margin: auto; 
  padding: 1em;  
  background-color: snow;  
}


.work-flow-section .steps {
  display: grid;
  margin: auto; 
  grid-template-columns: 1fr 1fr 1fr;
}

 

.work-flow-section .steps .icon {
  max-width: 12em;
  max-height: 12em;
  padding: 1em;
  margin: auto;
  border-radius: 50%;
  background-color: beige;
}

.work-flow-section .steps .icon img {
  height: 100%;
  width: 100%;
}

.work-flow-section .steps .title {
  padding: 1em;
  margin: 1em;
  color: var(--bg-accent);
  font-weight: bold;
  color: #242526;
  background-color: beige;
}

.app-promo-section {
  display: grid;
  grid-template-columns: 30vw auto;
  background-color: #466075;
}

.app-promo-section .promo-details {
  color: var(--text-color);
  text-align: left;
  justify-content: center;
  align-items: center;  
  margin: auto 2em;
}

.app-promo-section .promo-details .platforms { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-promo-section .promo-details .desc {
  line-height: 1.5em; 
}

.app-promo-section .platforms .platform { 
  width: 150px;  
  height: 50px;  
  background-size: cover;  
  overflow: hidden;
  border-radius: 1em;
  margin-top: 0.5em;
}

.app-promo-section .platforms .platform img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-promo-section .app-screens { 
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}

.app-promo-section .app-screens .screen {
  max-width: 250px;
  margin: 1em;
}


.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50vw;    
  padding: 5em;
  margin: auto;
}

.auth-section form {  
  justify-content: center;
  text-align: center;
}

.highlights-section {
  margin: 1em;
}

.highlights-section .articles { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.highlights-section .articles .article { 
  text-align: left;
  min-width: 200px; 
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0 10px 30px 0 rgba(100, 103, 105, 0.1);
  transition: all 0.5s;
}

.highlights-section .articles .article:hover { 
  box-shadow: 0 10px 30px 0 rgba(100, 103, 105, 0.4);
  text-align: left;
  padding: 1em;
  transition: all 0.5s;
} 

.highlights-section .articles .article img {
  width: 100%;
  object-fit: cover;
}


/* FORM TYPOGRAPHY*/

.auth-section input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth-section input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

.auth-section input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.auth-section input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.auth-section input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.auth-section input[type=text]:placeholder {
  color: #cccccc; 
}


.footer {   
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: var(--bg);
  border-top: 1px solid #382f2f;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1.5rem;
  color: var(--bg-accent);
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  color: var(--bg-accent);
}

.nav__title {
  color: var(--bg-accent);
  font-weight: 700;
  font-size: 18px;
}

.footer address {
  font-style: normal;
  color: var(--bg-accent);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: var(--bg-accent);
  border-radius: 100px;
  color:var(--bg);
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition: all 1s;
}

.footer__btn:hover {
  background-color: #2f2f2f;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: var(--bg-accent);
  transition: all 1s;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: var(--bg-accent);
  transition: all 0.5s;
}

.nav__ul a:hover { 
  color: #ecf0f1;
  transition: all 0.5s;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: var(--bg-accent);
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: var(--bg-accent);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .work-flow-section .steps {
    grid-template-columns: 1fr;
  }

  .features-section .section-row {
    flex-wrap: wrap;
  }

  .highlights-section .articles {
    grid-template-columns: 1fr;
  }

  .app-promo-section {
    grid-template-columns: 1fr;
  }

  .app-promo-section .app-screens {  
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    scroll-direction: horizontal;
  }
  
  .app-promo-section .app-screens .screen:first-child {
    margin-left: 4em;
  }

  .app-promo-section .app-screens .screen {
    width: 200px; 
    margin: 1.5em 0.5em;
  }

  .navbar li {
    display: none;
  }


  .hero-section {  
    height:65vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
  }
  
  .hero-section .hero-section-1 {
    background-image: url("https://wallpapercave.com/wp/hxU3cUn.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    color: var(--bg-accent);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-color: burlywood;
  }

  .hero-section .hero-section-2 {
    display: none;
  }

  .hero-section .buttons {
    display: block;
  }
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  } 
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}